@font-face {
  font-family: 'FontAwesome';
  src: url('./fonts/fontawesome-webfont.eot?v=3.0.1');
  src: url('./fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('./fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('./fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/***** Custom CSS *****/
@font-face {
  font-family: 'Mavenprobold';
  src: url('./fonts/MavenPro-Bold.ttf') format('truetype'); 
} 
@font-face {
  font-family: 'MavenproMedium';
  src: url('./fonts/MavenPro-Medium.ttf') format('truetype'); 
}  
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.otf') format('truetype'); 
}  
@font-face {
  font-family: 'QuicksandBold';
  src: url('./fonts/Quicksand-Bold.ttf') format('truetype'); 
} 
body>.container {
    min-height: 52vh;
} 
h1,h2,h3,h4,h5,h6{
	font-family: 'QuicksandBold';
}
.slide_header{
	color:#fff;
	font-size:65px;
	font-family: 'Quicksand';
	padding-bottom:10px;
	font-weight:bold;
}
body{
	font-family: 'Quicksand';
}
.simply-head{
	text-align:center;
	padding:20px;
	font-weight:bold;
	margin:30px 0px;
}
.simply-head h3{
	font-weight:bold;
	margin:0px;
}
.smpl-brdr{
	border-radius:16px;
	letter-spacing: 1px;
}
button:focus {outline:0 !important;}
.btn-smp-green{
	background-color:#66cc66;
	color:#fff;
}
.btn-smp-blue{
	background-color:#005a87;
	color:#fff;
}
.btn-smp-orange{
	background-color:#f3ae1a;
	color:#000;
}
.txt-smp-orange{
	color:#f3ae1a;
}
.txt-smp-green{
	background-color: #66cc66;
    padding: 7px;
    border-radius: 14px;
    color: #fff;
}
.txt-smp-orange{
    background-color: #f3ae1a;
    padding: 7px;
    border-radius: 14px;
    color: #fff;
}
.txt-smp-blue {
    background-color: #1a67f3;
    padding: 7px;
    border-radius: 14px;
    color: #fff;
}
.txt-smp-pink {
    background-color: #b30c4a;
    padding: 7px;
    border-radius: 14px;
    color: #fff;
}
.smp-links{
	float: right;
    position: relative;
    top: -100px;
    left: -8px;
}
.smp-links>span{
	margin:2px;
	cursor:pointer;
}
.smpl-wish-block{
	display: inline-block;
    max-width: 200px;
    margin: 0 10px;
}

.arrow-links>img{
	position:relative;
	bottom:-140px;
	cursor:pointer;
}
.smp-wish-desc{
	padding:5px;
	font-family:'MavenproMedium';
	/*min-height:120px; /*170 px*/
}
.smp-wish-desc .desc{
	height:42px;
	overflow:hidden;
}
.grid .smp-wish-desc{
	padding:5px;
	font-family:'MavenproMedium';
	min-height:0px;
}
.shareIcons a {
    font-size: 18px;
}
.smp-foot{
	/* background-color:#1e3a52; */
	background-color:#006699;
	padding:30px 0px;
}
.smp-head{
	background-color:#006699;
	padding-top:10px;
}
footer{
	color:#fff;
	font-family:'MavenproMedium';
}
.smp-footer-links li{
	display:inline;
	padding-right:12px;
	
}
.smp-footer-links li:after {
    content: "\2022";
    padding-left: 12px;
}
.smp-footer-links li:nth-child(n+5):after{
	content: "";
}

.smp-pills li a{
    border-radius: 0px;
	color:#fff;
	font-family:'MavenproMedium';
}
.smp-pills li ul li a{
	color:#808080;
}
.smp-pills li ul li a i{
	color:#006699;
	padding-right:10px;
}
.smp-pills li ul li{
	border-bottom:solid 1px #ddd;
}
.smp-pills li.active{
	border-bottom: solid 3px #f3ae1a;
}
.smp-pills li a:hover{
	color:#000;
}
.shareIcons .jssocials-share.jssocials-share {
    padding: 3px;
}
li.list-group-item.active a {
    color: #fff;
}
.fnt-green{
	color:#66cc66;
}
.fnt-blue{
	color:#006699;
}
.smp_inline {
	width: 46%;
	float: left;
	margin-left: 10px;
}
.smp-mg-bottom{
	margin-bottom:30px;
}
.smpl-brdr-right {
border-radius: 0px 16px 16px 0px;
right: 3px;
position: relative;
}
.smpl-brdr-left {
letter-spacing: 1px;
border-radius: 16px 0px 0px 16px;
}
.nav.list>li>a:focus,.nav.list>li>a:hover{
	background: none;
}
a[aria-expanded='true'] .fa-plus{
display:none;
}
a[aria-expanded='true'] .fa-minus{
display:block !important;
}

li.selected {
    background-color: antiquewhite;
}
li.selected a {
    color: #555 !important;
}
#demo li a:hover{
	color:#555 !important;
}
.list-icon>img {
    width: 40px;
    border-radius: 50%;
	height: 40px;
	display: inline-block !important;
}
p.list-group-item-text {
    padding: 5px 0px 10px;
}
li.list-group-item a>div {
    display: inline-block;
	margin-right:10px;
}
.message {
    max-height: 500px;
    overflow-y: scroll;
}
div ::-webkit-scrollbar {
    width: 5px;
}
 
div ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #888; 
}
li.list-group-item a{
	text-decoration:none;
	color:#000;
	cursor:pointer;
}
ul.collapse.detail {
    border: solid 2px #ddd;
    padding: 10px;
    margin: 10px 10px 10px 60px;
    background-color: #fff;
	color:#000;
}
.list-group-item.active .detail  .list-group-item-text{
	color:#000;
}
.smp-igrant img {
    width: 150px;
    height: 150px;
	margin:5px;
}
li.media.media_textbox {
    width: 90%;
    display: inline-block;
}
li.media.media_button{
    width: 9%;
    display: inline-block;
    position: relative;
    top: -14px;
}
.gravatar a {
    width: 90px;
    margin: 5px;
    display: inline-block;
}
.gravatar {
    width: 50%;
    margin: 20px 0px;
}
/* Arivazhagan for new Singup and edit profile Duplicate logo */
.selected{
   margin:10px;
   border:solid 1px blue; 
   box-shadow:0px 12px 22px 1px #333;
}
/* Arivazhagan for new Singup and edit profile Duplicate logo */
.profilelogo{
	cursor:pointer;	
}
.smpl-wish-block.thumbnail>div:first-child {
   height: 115px;
   overflow: hidden;
}

.smpl-wish-block1.thumbnail>div:first-child {
   height: 115px;
   overflow: hidden;
}
.smp_about_slide {
   text-align:center;
}
.smp_about_slide img {
    width: 150px;
    height: 150px;
    margin: 5px;
}
ul.smp-footer-links a {
    color: #fff;
    text-decoration: none;
}
.about-arw-link{
	width:7%;
	display:inline-block;
}
.about-arw-link img{
	width:40px;
	height:40px;
}
.slick-prev:before,
    .slick-next:before {
        color: black !important;
    }

.happystory{
	background-color:#f5f5f5;
	border: 1px solid #e3e3e3;
	padding: 20px;
}
.happystory>img{
	border: solid 2px #66cc66;
}
.a-button {
    border: none !important;
    background-color: transparent !important;
    outline: none !important;
}
.a-button:focus {
    border: none !important;
}
.smp-pills li a:hover{
	background-color:transparent;
	color:#fff;
}
.webShareIcons.jssocials {
    float: right;
    font-size: x-large;
}